/* ------------------------------------------------------------------------- 
   IPM 2024-2025 DI-FCUL => Diogo Branco
   CSS I                                      
------------------------------------------------------------------------- */
*{
    font-family: Verdana;
    color: #000000;
    letter-spacing: 0.5px;
}
body {
    margin: 8px 0;
    background-color:#c8e6c9 ;
}

#container {
    margin: 0 auto;
    border: 0.1em solid black;
    width: 80%;
    min-width: 700px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto 160px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'header header'
        'main nav'
        'footer footer';
}

header {
    padding-left: 15px;
    grid-area: header;
    background-color: #205c30;
}

header h1 {
    margin: 16pt 0;
}

#title, #subtitle {
    display: block;
}

#title {
    color: white;
    height: 26pt;
    font-size: 24pt;
    line-height: 24pt;
    margin-bottom: 2pt;
}

#subtitle {
    color:white ;
    height: 16pt;
    font-size: 14pt;
    line-height: 14pt;
}

nav {
    padding-top: 20px;
    grid-area: nav;
    background-color: #205c30;
    color: antiquewhite;
}

nav a {
    display: block;
    padding: 4px 12px;
    margin: 1px 0;
    color: white;

}

#nav-title {
    color: white;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 2px 6px;
}

section {
    border-style: double;
    border-width: 10px;
    border-color: #000000;
    grid-area: main;
    padding: 20px;
    background-color: #c8e6c9;
}

section :last-child {
    margin-bottom: 0;
}
section h2 {
    margin-top: 0;
}

.reference {
    float: right;
    margin-left: 23px;
}

.reference img {
    width: 300px;
}

footer {
    grid-area: footer;
    padding: 20px 0;
    background-color: #102810;
    color: white;
    font-size: small;
    font-style: italic;
    font-display: center;
    text-align: center;
}
#lf{
    color:#c8e6c9;
}
code{
    font-family: cursive;
    font-weight: bold ;
}
.selected {
    color: #102810;
    background-color: #b2dfb2;
    font-weight: bold;
}
nav a:hover {
    color: #102810;
    background-color: #b2dfb2;
    font-weight: bold;
}

nav a:focus, nav a.selected {
    color: #102810;
    background-color: #b2dfb2;
    font-weight: bold;
}
ul{
    list-style-type: square;
}